body {
 font-family: Arial;
 }
 /* 1. Text Alignment */
 .text-align {
 text-align: center;
 border: 2px solid rgb(54, 222, 189);
 margin-bottom: 20px;
 }
 /* 2. Block Alignment (margin auto) */
 .center-box {
 width: 200px;
 margin: auto;
 background: lightgreen;
 text-align: center;
 padding: 10px;
 margin-bottom: 20px;
 }
 /* 3. Vertical Alignment */
 .vertical-align img {
 vertical-align: middle;
 }
 /* 4. Flexbox Alignment */
 .flex-container {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 120px;
 border: 2px solid rgba(217, 0, 255, 0.634);
 margin-bottom: 20px;
 }
 /* 5. Grid Alignment */
 .grid-container {
 display: grid;
 place-items: center;
 height: 120px;
 border: 2px solid purple;
 grid-template-columns: auto auto;
 }
 .box {
 background: lightcoral;
 padding: 10px;
 }
 .img{
    width: 300px;
    height: 200px;
 }
 .bx{
    background-color: aqua;
    padding: 15px;
 }
.bx1{
      background-color: rgb(108, 20, 208);
      border-style: solid;
    padding: 10px;
    border-radius: 3;
}
.bx3{
      background-color: rgb(201, 32, 94);
    padding: 15px;
}