body{
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(143, 27, 231);
        margin: auto;
        font-family: sans-serif;
}
.ani-box{
      width: 100px;
      height: 100px;
      width: 300px;
      background-color: darkgrey;
     border-radius:15px ;
     position: relative;
      animation: moveBox 4s ease-in-out infinite, rotate 4s linear infinite;
}

        @keyframes moveBox {
            0%, 100% {
                transform: translate(0, 0) rotate(0deg);
            }
            25% {
                transform: translate(200px, -100px) rotate(90deg);
            }
            50% {
                transform: translate(200px, 100px) rotate(180deg);
            }
            75% {
                transform: translate(-200px, 100px) rotate(270deg);
            }
        }

        @keyframes rotate {
            from {
                filter: hue-rotate(0deg);
            }
            to {
                filter: hue-rotate(360deg);
            }
        }